* {
  box-sizing: border-box;
}

body {
  font-family: 'Archivo Black', sans-Serif;
  font-weight: 300;
  cursor: default;
}

.title {
  color: #0dc084;
  text-shadow: 1px 1px 1px #00000078;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  font-size: 50px;
}

.text {
  color: #0f0e0e;
  font-size: 40px;
  margin: 10px;
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  cursor: default;
}

.nav__ul {
  display: flex;
  background: #0ae49b;
  position: relative;
  height: 70px;
  align-items: center;
  padding: 0 0 0 5px;
}

.nav__logo {
  color: #fff;
  text-shadow: 1px 1px 1px #00000079;
  font-size: 2em;
}

.nav__logo > i{
  margin-right: 6px;
  text-shadow: 1px 1px 1px #00000079;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

.nav__li  {
  display: flex;
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  padding: 10px 0;
  position: relative;
  left: 3vh;
  right: 0;
  text-shadow: 1px 1px 1px #00000079;
  font-size: 2em;
}

.nav__li > i {
  margin-right: 6px;
  text-shadow: 1px 1px 1px #00000079;
}

.nav__li > a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 5px;
}

.nav__li:hover {
  color: #bbb;
  font-weight: 300;
  text-decoration: none;
}

.nav-text h1 {
  font-size: 40px;
  color: #fff;
}

.container {
  padding: 200px 0px;
}

.main-container {
  padding: 200px 0px;
}

.img-main {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  top: 70px;
  background-image: linear-gradient(to bottom right, #67d73a46, #fadb1d7e);
}

.img-main img {
  mix-blend-mode: multiply;
}

.wave {
  display: flex;
  position: relative;
  top: -70px;
  height: 0px;
  width: 100%;
  text-shadow: 1px 1px 1px #00000078;
  font-size: 75px;
}

.img-main h1 {
  display: flex;
  position: absolute;
  text-shadow: 3px 3px 5px #0dc084;
  font-size: 55px;
  left: 16%;
  top: 29%;
}


.letter {
  display: flex;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-size: cover;
  height: 70%;
}

.letter h3 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 50px;
  padding-bottom: 50px;
}

.big-text {
  color: #0dc084;
  font-size: 40px;
  text-align: center;
  padding: 0px 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.gallery > .img {
  padding: 50px 20px;
}

.img img {
  width: 100%;
  height: 100%;
  border: 10px solid #0ae49b;
  box-shadow: 4px 3px 4px  #0ae49b;
  border-radius: 10px;
}


.container-end {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 200px;
}

/*Section responsive page*/

/*@media only screen and (min-width:480px) and (max-width: 768px) {
    .title {
    font-size: 35px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .nav {
    display: relative;
    width: 100vh;
  }
  
  .nav__ul {
    width: 100vh;
    height: 35px;
  }
  
  .nav__logo {
    font-size: 15px;
  }
  
  .menu {
    display: flex;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    padding: 10px 0;
    position: relative;
    left: 38vh;
    right: 0;
    text-shadow: 1px 1px 1px #00000079;
    font-size: 21;
  }
  
  .nav__li {
    display: none;
    font-size: 15px;
  }
}*/

/*section responsive page mobile*/

@media only screen and (min-width:320px) and (max-width:480px) { 
  
  .title {
    font-size: 35px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .nav {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 35px;
    background: #0ae49b;
  }
  
  .nav__ul {
    display: block;
    position: fixed;
    top: 35px;
    left: -100%;
    background: #0dc084;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  
  .nav i {
    margin: 0px 5px;
    color: #fff;
    align-items: center;
    position: relative;
    top: 7.5px;
  }
  
  .nav p {
    display: inline-block;
    margin: 0px 2px;
    color: #fff;
    align-items: center;
    position: relative;
    top: 7.5px;
  }
  
  .nav i:nth-child(3) {
    position: relative;
    left: 35vh;
    right: 0;
    text-shadow: 1px 1px 1px #00000079;
  }
  
  .nav li:nth-child(2) {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .nav li {
    margin: 15px 5px;
    font-size: 25px
  }
  
  .nav li:nth-child(3) {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .nav li:nth-child(4) {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .nav li:nth-child(2) > i {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .nav li:nth-child(3) > i {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .nav li:nth-child(4) > i {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .nav__logo {
    display: none;
  }
  
  /*.menu {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    padding: 10px 0;
    position: relative;
    left: 38vh;
    right: 0;
    text-shadow: 1px 1px 1px #00000079;
    font-size: 21;
  }*/
  
  .checkbtn {
    display: block;
    position: absolute;
  }
  
  #check:checked ~ ul {
    left: 0;
  }
  
  /*.menu-responsive {
    display: flex;
    background: #000;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 35px;
    color: white;
  }*/
  
  .nav__li {
    display: block;
    font-size: 15px;
  }
  
  .img-main {
   display: flex;
   width: 100%;
   height: 100%;
   position: relative;
   top: 35px;
  }
  
  .wave {
    width: 100%;
  }
  
  .img-main h1 {
   display: flex;
   position: absolute;
   text-shadow: 3px 3px 5px #0dc084;
   font-size: 25px;
   left: 14%;
   top: 27%;
  }
  
  .main-container {
    display: flex;
    padding-top: 0px;
    padding-bottom: 150px;
  }
  
  .letter {
    display: flex;
    height: 100%;
  }
  
  .letter h3 {
    display: flex;
    padding: 20px;
    font-size: 35px;
    position: relative;
    top: 0px;
  }
  
  .big-text {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .gallery {
    display: flex;
    flex-direction: column;
  }
  
  .gallery > .img {
    padding: 20px 20px;
  }
  
  .img img {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
